/* цвет главного текста background: #212121;
цвет второстепенного текста background: #757575; */

:root{
  --main-text-color:#212121;
  --main-bg-color:#E5E5E5;
  --primary-bg-color:#F5F4FA;
  --blue-bg-color:#2196F3;
}


a { 
  text-decoration: none;
  color: var(--main-text-color)
}

ul, li,  a{
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}

h1, h2, h3, p{
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}

li{
  list-style-type: none;
  color: var(--main-text-color);
}

 a:hover, address:hover
 li:focus, a:focus, address:focus{
  text-decoration: underline;
  text-decoration-color: #2196F3; 
}

.container{
  width: 1170px;
  margin: 0 auto;
  padding: 215px auto;
}

/* HEADER */

header{
  background: #FFFFFF;
  border: 1px solid #ECECEC;
}

header> .container{
 background: #FFFFFF;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.container .header-list{
  display: flex;
  flex-direction: row;
}

.header-item{
  padding: 32px 0;
  display: inline-block;
  text-align: center;
} 

.logo{
  margin-right: 93px;
}

.page{
  color:#212121;
  background-color: var(--main-bg-color);
}

.web-header{
  color: #2196f3;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-list>.header-item:not(:last-child){
  margin-right: 40px;
}

.header-item a:hover{
  color: #2196F3;
  cursor: pointer;
}

.studio-header {
  color: #212121;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-list{
  display:inline-block;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color)
}



.email-header{
  display:block;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;  
}

.phone-number-header{
    display:block;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.phone-number-header:hover{
  color:#2196F3; 
}

.email-header:hover{
  color:#2196F3; 
}



/* H1 SECTION */

.h1-section{
  text-align: center;
}

.h1-section>.container{
 display: flex;
  flex-direction: column;
  justify-content: center;
  background: #2F303A;
}

.h1-section-title{
  display: block;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1,36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  
}

.h1-section{
  background: #2F303A;
  padding: 200px 452px 280px 452px;
}

.button-order{
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1,87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-top: 40px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Features section */

.features{
  background-color: #ffffff;
}

.features>.container{
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
}

.container .features-list{
  display: flex;
}

.features-list .features-item{
  display: block;
  margin-top: 90px;
  margin-bottom: 94px;
}

.features-list .features-item:not(:last-child){
  margin-right: 30px;
}

.features-title{
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}


.text{
  color: #757575;
}


/* What are we doing section */

.what-are-we-doing{
  background-color: #ffffff;
}

.what-are-we-doing .container{
  display: flex;
  flex-direction: column;
}
 
.h2-title{
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16; /*42px*/
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

.container .card-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.what-are-we-list{
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 94px;
}

.what-are-we-list:nth-child(3n) {
  margin-right: 0;
}


/* Our team */

.our-team{
  background: #F5F4FA;
}

.card-person{
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 94px;
}

.name{
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  padding-top: 30px;
}

.card-person .text{
  text-align: center;
  padding-bottom: 30px;
  padding-top: 10px;
}


/* FOOTER */

.footer{
  background: #2F303A;
}

.footer-item-1{
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer-item:not(:last-child){
  padding-bottom: 9px;
}

.footer-item:last-child{
  padding-bottom: 60px;
}

.web-footer {
  color: #2196f3;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

}

.studio-footer {
  color: #ffffff;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.email-footer{
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6)  
}

.phone-number-footer{
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6) 
}

.address{
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #FFFFFF;
}



/* PORTFOLIO */

/* Buttons */

.container .header-list{
  display: flex;
  flex-direction: row;
}

.list-buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 114px;
  padding-bottom: 50px;
}

.list-item-buttons:not(:last-child){
  padding-right: 8px;
}

.primary-button{
  background-color: var(--primary-bg-color);
  color: var(--main-text-color);
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  border-color:var(--primary-bg-color);
}

.primary-button a{
  padding: 6px 22px;
}

.list-buttons:not(:last-child){
  padding-right: 8px;
}

.primary-button:hover{
  background-color: var(--blue-bg-color);
}

.primary-button a:hover{
  color: #FFFFFF;
}

/* Projects */

 .container .portfolio-list{
  display: flex;
  padding-bottom: 74px;
}

.container .portfolio-list{
  display: flex;
  flex-wrap: wrap;

}

.projects{
  font-family: Roboto;
  font-style: normal;
  background: #FFFFFF;
}

.projects-items{
  display: block;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-top: 30px;
}

.portfolio-list .projects-items:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list img{
  display: block;
  max-width: 100%;
  height: auto;
}

.project-items-text{
  font-size: 18px;
  line-height: 2;
  color: #757575;
  padding: 4px 24px 20px 24px;
}

.project-items-name{
  font-size: 16px;
  line-height: 1.87;
  padding: 20px 24px 4px 24px;
}
